<!-- header strat -->

<header>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
        <div class="header-logo">
          <a href="javascript:void(0)"><img src="images/logo.png" alt="logo" /></a>
        </div>
      </div>

      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="header-search-main">
          <div class="header-search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>

          <div class="header-search-input">
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Search by artists, song, album....."
            />
          </div>

          <div class="header-search-voice">
            <img src="images/voice-icon.png" alt="img" />
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="header-links-user-main">
          <div class="header-links-bar">
            <ul>
              <li>
                <div class="header-links-box">
                  <a href="javascript:void(0)"><img src="images/save.png" alt="img" /></a>

                  <div class="header-links-main">
                    <div class="header-links">
                      <div class="header-links-img">
                        <a href="javascript:void(0)"><img src="images/song1.jpg" alt="img" /></a>
                      </div>

                      <div class="header-links-txt">
                        <a href="javascript:void(0)"><h5>Lorem ipsum dolor</h5></a>
                        <h6>Ed Sheeran</h6>
                      </div>
                    </div>

                    <div class="header-links">
                      <div class="header-links-img">
                        <a href="javascript:void(0)"><img src="images/song2.jpg" alt="img" /></a>
                      </div>

                      <div class="header-links-txt">
                        <a href="javascript:void(0)"><h5>Lorem ipsum dolor</h5></a>
                        <h6>Ed Sheeran</h6>
                      </div>
                    </div>

                    <div class="header-links">
                      <div class="header-links-img">
                        <a href="javascript:void(0)"><img src="images/song3.jpg" alt="img" /></a>
                      </div>

                      <div class="header-links-txt">
                        <a href="javascript:void(0)"><h5>Lorem ipsum dolor</h5></a>
                        <h6>Ed Sheeran</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="header-links-box">
                  <a href="javascript:void(0)"
                    ><img src="images/notification.png" alt="img"
                  /></a>

                  <div class="header-links-main">
                    <div class="header-links header-con-main">
                      <div class="header-links-con">
                        <div class="header-links-img">
                          <img src="images/user1.jpg" alt="img" />
                        </div>

                        <div class="header-links-txt">
                          <h5>New Meeting</h5>
                          <h6>Lorem Ipsum</h6>
                        </div>
                      </div>

                      <div class="header-links-btn-main">
                        <div class="header-links-btn">
                          <a href="notification.html" class="theme1">
                            <span class="theme1-txt">View</span>
                          </a>
                        </div>

                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">Mark As Read</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="header-links header-con-main">
                      <div class="header-links-con">
                        <div class="header-links-img">
                          <img src="images/user1.jpg" alt="img" />
                        </div>

                        <div class="header-links-txt">
                          <h5>New Meeting</h5>
                          <h6>Lorem Ipsum</h6>
                        </div>
                      </div>

                      <div class="header-links-btn-main">
                        <div class="header-links-btn">
                          <a href="notification.html" class="theme1">
                            <span class="theme1-txt">View</span>
                          </a>
                        </div>

                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">Mark As Read</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="header-links header-con-main">
                      <div class="header-links-con">
                        <div class="header-links-img">
                          <img src="images/user1.jpg" alt="img" />
                        </div>

                        <div class="header-links-txt">
                          <h5>New Meeting</h5>
                          <h6>Lorem Ipsum</h6>
                        </div>
                      </div>

                      <div class="header-links-btn-main">
                        <div class="header-links-btn">
                          <a href="notification.html" class="theme1">
                            <span class="theme1-txt">View</span>
                          </a>
                        </div>

                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">Mark As Read</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="header-links-box">
                  <a href="javascript:void(0)"><img src="images/msg.png" alt="img" /></a>

                  <div class="header-links-main">
                    <div class="header-links header-con-main">
                      <div class="header-links-con">
                        <div class="header-links-txt">
                          <h5>New Message</h5>
                          <h6>Lorem Ipsum</h6>
                        </div>
                      </div>

                      <div class="header-links-btn-main">
                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">View</span>
                          </a>
                        </div>

                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">Mark As Read</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="header-links header-con-main">
                      <div class="header-links-con">
                        <div class="header-links-txt">
                          <h5>New Message</h5>
                          <h6>Lorem Ipsum</h6>
                        </div>
                      </div>

                      <div class="header-links-btn-main">
                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">View</span>
                          </a>
                        </div>

                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">Mark As Read</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <div class="header-links header-con-main">
                      <div class="header-links-con">
                        <div class="header-links-txt">
                          <h5>New Message</h5>
                          <h6>Lorem Ipsum</h6>
                        </div>
                      </div>

                      <div class="header-links-btn-main">
                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">View</span>
                          </a>
                        </div>

                        <div class="header-links-btn">
                          <a href="javascript:void(0)" class="theme1">
                            <span class="theme1-txt">Mark As Read</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <div class="header-user-box">
            <div class="header-user-main">
              <div class="header-user-img">
                <img src="images/user1.jpg" alt="img" />
              </div>

              <div class="header-user-txt">
                <h5>willium jhon</h5>
                <h6>User</h6>
              </div>

              <div class="header-user-list">
                <ul>
                  <li>
                    <a href="javascript:void(0)"> Profile </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"> Logout </a>
                  </li>
                  <li>
                    <a href="settings.html"> setting </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- header strat -->


<script>
  document.addEventListener("DOMContentLoaded", () => {
    
    const clearGroup = (selector, activeClass, except = null) => {
      document.querySelectorAll(selector).forEach((el) => {
        if (el !== except) el.classList.remove(activeClass);
      });
    };

    
    const clearAll = (except = null) => {
        
      const keepLinks =
        except && except.closest?.(".header-links-box")
          ? except.closest(".header-links-box")
          : null;
      const keepUser =
        except && except.closest?.(".header-user-main")
          ? except.closest(".header-user-main")
          : null;

      clearGroup(".header-links-box", "header-active", keepLinks);
      clearGroup(".header-user-main", "header-user-active", keepUser);
    };

    // Single click handler for the whole document
    document.addEventListener("click", (e) => {
      const inUserList = e.target.closest(".header-user-list");
      if (inUserList) {
        // Keep user menu open when interacting inside it, but close links menus
        clearGroup(".header-links-box", "header-active");
        return;
      }

      const linkBox = e.target.closest(".header-links-box");
      if (linkBox) {
        const isActive = linkBox.classList.contains("header-active");
        clearAll(); // close everything first
        if (!isActive) linkBox.classList.add("header-active");
        return;
      }

      const userMain = e.target.closest(".header-user-main");
      if (userMain) {
        const isActive = userMain.classList.contains("header-user-active");
        clearAll();
        if (!isActive) userMain.classList.add("header-user-active");
        return;
      }

      // Clicked outside both => close all
      clearAll();
    });

    // Press Esc to close everything
    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") clearAll();
    });
  });
</script>
